---
interface Props {
    name: string,
    description: string,
    icon: string,
}

import building from '@assets/svg/building.svg';
import construction from '@assets/svg/construction.svg';
import factory from '@assets/svg/factory.svg';
import hammer from '@assets/svg/hammer.svg';
import wrench from '@assets/svg/wrench.svg';
import house from '@assets/svg/house.svg';

const ICON_MAP: Record<string, any> = {
    building,
    construction,
    factory,
    hammer,
    wrench,
    house
} as const;

const { name, description, icon } = Astro.props;

const Icon = ICON_MAP[icon];
---

<article class="w-full h-full flex flex-col justify-start items-center text-center px-6 py-8 border-b border-b-neutral-400 last:border-b-0 md:border-r md:border-r-neutral-400 last:border-r-0 md:border-b-0">
    <div class="mb-6 p-4 rounded-lg bg-primary-50 text-primary-500">
        { 
            <Icon class="w-8 h-8" />
        }
    </div>
    <h3 class="text-xl text-neutral-900 font-bold">
        {name}
    </h3>
    <p class="text-sm text-neutral-800 leading-relaxed">{description}</p>
</article>