---
interface Props {
    name: string,
    description: string,
    icon: string,
}

import building from '../assets/svg/building.svg';
import construction from '../assets/svg/construction.svg';
import factory from '../assets/svg/factory.svg';
import hammer from '../assets/svg/hammer.svg';
import wrench from '../assets/svg/wrench.svg';

const ICON_MAP: any = {
    building: building,
    construction: construction,
    factory: factory,
    hammer: hammer,
    wrench: wrench
};

const { name, description, icon } = Astro.props;

const Icon = ICON_MAP[icon];
---

<article class="w-full bg-white rounded-md shadow-lg"> 
    <header class="p-6">
        <span class="inline-block p-4 bg-primary-50 rounded-sm mb-4 text-primary-500">
            { 
                <Icon />
            }
        </span>
        <h2 class="text-xl text-neutral-900 font-bold">
            {name}
        </h2>
    </header>
    <div class="px-6 pb-6">
        <p class="text-sm text-neutral-800">{description}</p>
    </div>
</article>