---
import CallToAction from "src/components/CallToAction.astro";
import HeroCarousel from "../components/HeroCarousel.astro";
import Services from "./Services.astro";
import FeaturedProjects from "./FeaturedProjects.astro";
---

<main>
    <HeroCarousel />
    <Services />
    <FeaturedProjects />
    <CallToAction />
</main>