<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Barreto Construcciones</title>
        <meta name="description" content="Barreto Construcciones" />
        <meta
            name="keywords"
            content="Barreto Construcciones ofrece soluciones profesionales en obra civil, edificación y rehabilitación de edificios en Madrid y Toledo. Expertos en proyectos corporativos e industriales, garantizando calidad, seguridad y cumplimiento en cada obra."
        />
        <meta name="author" content="Barreto Construcciones" />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    @import "../styles/global.css";
	@import '@fontsource-variable/roboto';
    @plugin "@midudev/tailwind-animations";

	:root {
		--hero-overlay: 210 15% 10%;
        --hero-text: 0 0% 100%;
	}
</style>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
		font-family: 'Roboto', sans-serif;
        background-color: var(--color-neutral-50);
    }
</style>
